<!DOCTYPE html>
<html lang="en">

  <head>{% load static %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>My Blog</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'Blog/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="{% static 'Blog/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
  </head>

  <body bgcolor="#eeebeb">
  
    <nav class="light-blue lighten-1" role="navigation">
      <div class="nav-wrapper container"><a id="logo-container" href="index.html" class="brand-logo">My Blog</a>
		  <ul class="right hide-on-med-and-down">
			<li><a href="get_price.html">Cryptocurrency Ticker</a></li>
		  </ul>
		  <ul class="right hide-on-med-and-down">
			<li><a href="add_post.html">Add Post</a></li>
		  </ul>
		</div>
    </nav>
    
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
                <center><h3>Welcome to My Blog</h3></center>
            <h5>Categories</h5>
			{% if categories %}
				<ul>
				{% for category in categories %}
				    <li><a href="{{ category.get_absolute_url }}">{{ category.title }}</a></li>
				{% endfor %}
				</ul>
			{% else %}
				<p>There are no posts.</p>
			{% endif %}

			<hr>

			<h5>Posts</h5>
			{% if posts %}
				<ul>
				{% for post in posts %}
				    <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
				{% endfor %}
				</ul>
			{% else %}
				<p>There are no posts.</p>
			{% endif %}
	     </div>
    </div>
    
    <div>
    	<a href="add_post.html"><img src="{% static 'Blog/static/img/1.jpg' %}"></a>
    </div>

<!--
    <footer class="page-footer rgb(21,43,100)">
        <div class="footer-copyright">
            Copyright
        </div>
    </footer>
--!>

    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{% static 'Blog/js/materialize.js' %}"></script>
    <script src="{% static 'Blog/js/init.js' %}"></script>

</body>

</html>
